[workspace]
members = [
  "crates/*",
  "modules/*",
  "platform/*",
  "xtask",
  "kernel",
]
resolver = "3"

[profile.release]
lto = true

[workspace.package]

authors = ["Keyang Hu <keyang.hu@qq.com>", "周睿 <zrufo747@outlook.com>"]
edition = "2024"
license = "GPL-3.0-or-later OR Apache-2.0 OR MulanPubL-2.0 OR MulanPSL2"
version = "0.1.0"

[workspace.dependencies]
bitflags = "2.2"
cfg-if = "1.0"
cpumask = "0.1.0"
kernel_guard = "0.1"
kspin = "0.1"
lazy_static = {version = "1.5", default-features = false, features = ["spin_no_std"]}
lazyinit = "0.2"
log = "0.4"
spin = "0.9"
timer_list = "0.1"
toml = "0.9"

# System dependent modules provided by ArceOS.
# FIXME: pin to a specific tag!
axstd = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202", features = [
  "alloc-level-1",
  "paging",
  "irq",
  "multitask",
  "task-ext",
  "smp", # "page-alloc-64g",
]}

axalloc = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axconfig = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axdisplay = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axdriver = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axfs = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axhal = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axipi = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axlog = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axmm = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axnet = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}
axtask = {git = "https://github.com/arceos-org/arceos.git", tag = "dev-251202"}

axcpu = {git = "https://github.com/arceos-org/axcpu.git", tag = "dev-v03"}
axplat = {git = "https://github.com/arceos-org/axplat_crates.git", tag = "dev-v03"}

# System dependent modules provided by ArceOS-Hypervisor.
axaddrspace = "0.1.1"
axhvc = {git = "https://github.com/arceos-hypervisor/axhvc.git"}
axklib = {git = "https://github.com/arceos-hypervisor/axklib.git"}
axruntime = {path = "modules/axruntime"}
axvcpu = "0.1"
axvm = {git = "https://github.com/arceos-hypervisor/axvm.git", branch = "next"}

# System independent crates provided by ArceOS, these crates could be imported by remote url. 
axerrno = "0.2"
byte-unit = {version = "5", default-features = false, features = ["byte"]}
crate_interface = "0.1"
fdt-parser = "0.4"
memory_addr = "0.4"
page_table_entry = {version = "0.5", features = ["arm-el2"]}
page_table_multiarch = "0.5"
percpu = {version = "0.2", features = ["arm-el2"]}
rdif-intc = "0.12"
rdrive = "0.18"

vm-fdt = {git = "https://github.com/bullhh/vm-fdt.git", default-features = false, features = ["alloc"]}

axdevice = {git = "https://github.com/arceos-hypervisor/axdevice.git"}
axdevice_base = "0.1"
axvisor_api = "0.1"
driver = {path = "modules/driver"}

# platform
axplat-x86-qemu-q35 = {path = "platform/x86-qemu-q35"}
axplat-riscv64-qemu-virt = {path = "platform/riscv64-qemu-virt"}
axvmconfig = {git = "https://github.com/arceos-hypervisor/axvmconfig.git", branch = "next"}

[patch.crates-io]
axvcpu = {path="crates/axvcpu"}
axvmconfig = {path = "crates/axvmconfig"}
# riscv = {git = "https://github.com/liulog/riscv.git", branch = "master"}
axcpu = {path = "crates/axcpu"}
axvisor_api = {path = "../axvisor_api"}
page_table_entry = { path = "../page_table_multiarch/page_table_entry" }
page_table_multiarch = { path = "../page_table_multiarch/page_table_multiarch", features = ["stage-2"]}
axaddrspace = {path = "crates/axaddrspace"}

[patch."https://github.com/arceos-hypervisor/axvmconfig.git"]
axvmconfig = {path = "crates/axvmconfig"}

[patch."https://github.com/arceos-org/arceos"]
axconfig = {path = "modules/axconfig"}
axruntime = {path = "modules/axruntime"}
axhal = {path = "../arceos/modules/axhal"}
axalloc = {path = "../arceos/modules/axalloc"}
axdriver = {path = "../arceos/modules/axdriver"}
axfs = {path="../arceos/modules/axfs"}

[patch."https://github.com/arceos-hypervisor/axvm.git"]
axvm = {path = "crates/axvm"}

[patch."https://github.com/liulog/riscv_vcpu.git"]
riscv_vcpu = {path = "crates/riscv_vcpu"}

[patch."https://github.com/arceos-org/axcpu.git"]
axcpu = {path = "crates/axcpu"}

[patch."https://github.com/arceos-hypervisor/axdevice.git"]
axdevice = {git = "https://github.com/liulog/axdevice", branch = "master"}
